<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',
    filename="css/main.css")}}">
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="nav-list">
        {% if user.is_authenticated %}
        <li class="nav-list__link"><a href="/">Home</a></li>
        <li class="nav-list__link"><a href="/logout">Logout</a></li>
        {% else %}
        <li class="nav-list__link"><a href="/login">Login</a></li>
        <li class="nav-list__link"><a href="/register">Register</a></li>
        {% endif %}
      </ul>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %}
      {% for message in messages %}
      <div>{{message}}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container">{% block content %} {% endblock %}</div>
    <script src="{{url_for('static',filename="app.js")}}"></script>
  </body>
</html>
